@use '/src/style/main';

.jobs-wrapper {
  background-image: linear-gradient(to right, #ff7854 34%, #ff0067 109%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 40px;
}

.jobs-header {
  @include main.font(
    $color: white,
    $size: 40px,
    $weight: 900,
    $transform: none
  );
}

.sections-wrapper {
  width: 100%;
}
