@use '/src/style/main';

.jobs-wrapper {
  @include main.gradient;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 40px;
}

.jobs-header {
  @include main.font(
    $color: white,
    $size: 40px,
    $weight: 900,
    $transform: none
  );
}

.sections-wrapper {
  width: 100%;
}
